<section class="h-screen">
  <div class="h-full">
    <!-- Left column container with background-->
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center">
      

      <!-- Right column container -->
      <div class="mb-12 ">
        <form>

        <h2>Login</h2>
        <%= form_with(url: registrations_path, method: :post) do |form| %>
          <div>
            <%= form.label :email %>
            <%= form.email_field :email %>
          </div>
          <div>
            <%= form.label :password %>
            <%= form.password_field :password %>
          </div>
          <div>
            <%= form.submit "Log In" %>
          </div>
        <% end %>


          <!-- Login button -->
          <div class="text-center lg:text-left">
            <button
              type="button"
              class="inline-block rounded bg-slate-800 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
              data-te-ripple-init
              data-te-ripple-color="light">
              Register
            </button>
           
          </div>
        </form>
      </div>
    </div>
  </div>
</section>