<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield  %>
      <% if user_signed_in? %>
        <!-- Display content for signed-in users -->
        <%= current_user.username %>!
        <%= button_to "Log out", registration_path, method: :delete %>!
        
      <% else %>
        <!-- Display content for non-signed-in users -->
        
        
        <%# <%= link_to "Register", new_registeration_path %>
        <%= link_to "Log in", new_session_path %>!
      <% end %>

    </main>
  </body>
</html>
