<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="bg-gray-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
          <!-- Brand/logo -->
          <div class="text-white">
            <%= link_to 'MyApp', root_path, class: "text-xl font-bold" %>
          </div>

          <!-- User information -->
          <div class="flex items-center text-white">
            <span class="mr-2"><%= current_user.user_name %></span>
            <%= button_to "Log out", sessions_path, method: :destroy, class: "" %>
          </div>

        </div>
      </nav>
      <main class="container mx-auto mt-4">
        <%= yield  %>
      </main>
    <% else %>
      <main class="container mx-auto">
        <%= yield  %>
      </main>
    <% end %>


  </body>
</html>
